@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

/* Estilo para tarefas concluídas */
.completed {
    text-decoration: line-through;
    color: #9ca3af; /* gray-400 */
}
